@font-face {
  font-family: "Dacia Block";
  src: url(https://cdn.group.renault.com/fonts/dacia/DaciaBlock-Regular.eot)
      format("eot"),
    url(https://cdn.group.renault.com/fonts/dacia/DaciaBlock-Regular.woff2)
      format("woff2"),
    url(https://cdn.group.renault.com/fonts/dacia/DaciaBlock-Regular.woff)
      format("woff"),
    url(https://cdn.group.renault.com/fonts/dacia/DaciaBlock-Regular.ttf)
      format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dacia Block";
  src: url(https://cdn.group.renault.com/fonts/dacia/DaciaBlock-Bold.eot)
      format("eot"),
    url(https://cdn.group.renault.com/fonts/dacia/DaciaBlock-Bold.woff2)
      format("woff2"),
    url(https://cdn.group.renault.com/fonts/dacia/DaciaBlock-Bold.woff)
      format("woff"),
    url(https://cdn.group.renault.com/fonts/dacia/DaciaBlock-Bold.ttf)
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Read";
  src: url(https://cdn.group.renault.com/fonts/dacia/Read-Regular_V1100.eot)
      format("eot"),
    url(https://cdn.group.renault.com/fonts/dacia/Read-Regular_V1100.woff2)
      format("woff2"),
    url(https://cdn.group.renault.com/fonts/dacia/Read-Regular_V1100.woff)
      format("woff"),
    url(https://cdn.group.renault.com/fonts/dacia/Read-Regular_V1100.ttf)
      format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Read";
  src: url(https://cdn.group.renault.com/fonts/dacia/Read-Bold_V1100.eot)
      format("eot"),
    url(https://cdn.group.renault.com/fonts/dacia/Read-Bold_V1100.woff2)
      format("woff2"),
    url(https://cdn.group.renault.com/fonts/dacia/Read-Bold_V1100.woff)
      format("woff"),
    url(https://cdn.group.renault.com/fonts/dacia/Read-Bold_V1100.ttf)
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
$font-dacia: "Dacia Block", sans-serif;
$font-read: "Read", sans-serif;

$green: #646b52;
$orange: #ff671b;
$black: #000000;
$dark: #333333;
$grey: #777777;
$light-grey: #cccccc;
$beige: #f2f2f2;
$white: #ffffff;

body {
  max-width: 640px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
}
.logo {
  margin-top: 59px;
  margin-bottom: 31px;
  display: block;
}
.link-primary {
  color: $white;
  font-family: $font-read;
  background: $green;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 28px;
  border: none;
  cursor: pointer;
}
.link-secondary {
  color: $black;
  font-family: $font-dacia;
  font-weight: 700;
  background: white;
  border: 2px solid $black;
  text-transform: uppercase;
  font-size: 11px;
  padding: 13px 87px;

  cursor: pointer;
}
.section {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__box {
    font-family: $font-dacia;
    font-weight: 700;
    font-style: normal;
    margin-top: 4px;
    text-transform: uppercase;
  }
  &__title1 {
    color: $black;
  }
  &__title2 {
    color: $green;
  }
  &__text {
    font-family: $font-read;
    font-size: 16px;
    color: $black;
    line-height: 20px;
  }
  &__btn {
    margin-top: 29px;
    margin-bottom: 13px;
  }
}
.content {
  margin-top: 42px;

  &__catalog-flex {
    display: flex;
    justify-content: space-between;

    text-align: center;
  }
  &__picture {
    height: 275px;
    width: 320px;
  }
  &__section {
  }
  &__box {
    text-transform: uppercase;
  }

  &__btn {
    margin-top: 29px;
    margin-bottom: 13px;
  }
}
