$font-dacia: "Dacia Block", sans-serif;
$font-read: "Read", sans-serif;

$green: #646b52;
$orange: #ff671b;
$black: #000000;
$dark: #333333;
$grey: #777777;
$light-grey: #cccccc;
$beige: #f2f2f2;
$white: #ffffff;

$r_mob_320: 320px;
